*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins ;
}
body{
    background: #a4aabf;
}
.card{
    width: 90vw;
   max-width: 600px;
    background: linear-gradient(120deg,#1c134d,
    #2b07ed
    );
    color: white;
    margin: 30px auto 0;
    padding: 40px 35px;
    text-align: center;

}
.block1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.block1 input{
    border: 0;
    outline: 0;
    background: #899ff0;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    height: 60px;

    font-size: 20px;
    margin-right: 15px;

}
.block1 button{
    border: 0;
    outline: 0;
    /* background: #899ff0; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.block1 img{
    width: 50%;

   
}
.icon{
    width: 40%;
    margin-top: 30px;

}
.block2 h1{
    font-size: 80px;
    font-weight: 500;
    

}
.block2 h2{
    font-size:45px ;
    font-weight: 500;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity .wind{
font-size: 28px;
margin-top:-6px;
}
.block2{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 2px;
    display: none;

}
#temp{
    margin: 20px;
    background:  #524e67;
    color: white;
    padding: 5px;
    font-size: 18px;

    border-radius: 20px;

}

@media  screen and (max-width : 480px) {

    .block1 input{
        width: 40%;
    }
}